body {
  background-color: rgb(53, 0, 194);
}

h1 {
  color: rgb(194, 144, 19);
  font-size: 75px;
  text-align: center;
  text-decoration: underline;
  margin: 35px;
}

h2, h3 {
  color: rgb(194, 144, 19);
  font-size: 50px;
  text-decoration: underline;
  margin: 30px 0px 30px 20px;
}

p {
  color:rgb(159, 10, 194);
  font-size: 25px;
  margin: 0px 30px 10px 20px;
}

ol {
  color: rgb(194, 144, 19);
  font-size: 25px;
  margin: 0px 30px 10px 45px;
  list-style-type: decimal;
}

#school {
  color:rgb(159, 10, 194);
  font-size: 25px;
  margin: 0px 30px 10px 45px;
  list-style: disc;
}

#me {
  color: rgb(122,194,19);
}

.job {
  color: rgb(93, 124, 236);
  font-size: 25px;
  margin: 0px 30px 10px 45px;
  list-style: disc;
}